<section class="about section-padding" id="section_2">
  <div class="container">
    <div class="row px-3 px-md-0">
      <div class="col-12 mt-5 mt-lg-0">
        <div class="about-thumb">
          <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
            <h2 class="text-white me-4 mb-0">Mi Historia</h2>
            <img src="assets/images/angelBarrios.jpeg" class="avatar-image img-fluid" alt="Angel Barrios">
          </div>
          <h3 class="pt-2 mb-3">Un poco sobre mi</h3>
          <p>Hola soy Ángel Barrios Front-end Developer con +4 años de experiencia en desarrollo web con tecnologías
            como Angular, Vuejs, React y Node js. Siempre aprendiendo, mejorando y agregando más stacks a mi perfil.
          <p>He Trabajado en
            grandes proyectos como meetpoint.education es una edTech para preparar he impartir clases remotas (Vue, React). 
            Así como también he trabajado en proyectos medianos como CMS personalizables y wep-app de captación de talento. 
            FinTech de prestamos, mejorando el rendimiento de la aplicación y aplicando Clean Code y buenas practicas(Angular). 
            .</p>

          <p>Busco proyectos donde me permitan mejorar mis habilidades como front y backend en javascript 👩‍💻 y al
            mismo tiempo, apoyar y aportar con mi experiencia en el crecimiento de los proyecto y de la empresa.

            Contacta conmigo a través de mi correo electrónico ae.barrios@hotmail.com

            Thanks! 🙌</p>
        </div>
      </div>
    </div>
  </div>
</section>