 /*---------------------------------------
    CLIENTS              
  -----------------------------------------*/
 .clients-item-height {
   height: 120px;
 }

 .clients-image {
   display: block;
   max-width: 250px;
   transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
   -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
 }

 .clients-image:hover {
   transform: scale(1.3);
 }

 .slick-list {
   position: relative;
   overflow: hidden;
   margin: 0;
   padding: 0;
   height: 120px;
 }

 .carousel {
   position: absolute;
   animation: loop 10s linear infinite;
 }
 .carousel:hover{
  animation-play-state: paused;
 }



 @keyframes loop {
   0% {
     transform: translate3d(0, 0, 0);
   }

   100% {
     transform: translate3d(-50%, 0, 0);
   }
 }

